<div class="container">
    <div class="row">
        <div class="text-start col-md-4 text-center">
            <h4>
                Gaston Corvalan
            </h4>
            <h5>
                Full Stack Jr
            </h5>
        </div>
        <div class="col-md-8" id="acerca_de">
            <h2>Acerca de mi...</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero impedit, incidunt quia error, doloremque 
                    laudantium sequi cumque delectus hic commodi quo! Debitis unde esse suscipit quis quidem sequi laudantium 
                    cupiditate.
                </p>
        </div>
    </div>
</div>