<div>
    <img src="" alt="footerBackground">
    <div class="row">
        <div class="col-md-2 text-center">
            <ul >
                <li>
                    <a href="">Acerca de mi</a>
                </li>
                <li>
                    <a href="">Experiencia</a>
                </li>
                <li>
                    <a href="">Educacion</a>
                </li>
            </ul>
        </div>
        <div class=" col-md-4 text-center">
            <ul>
                <li>
                    <a href="">Skills</a>
                </li>
                <li>
                    <a href="">Proyectos</a>
                </li>
                <li>
                    <a href="">Volver Arriba</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6 position-relative  text-end">
            <app-social></app-social>
        </div>
        
    </div>
    
</div>