<div class="container">
    <h2 class= "p-5">Proyectos</h2>
    <div>
        <h4>Metal Stretch</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio, nesciunt totam sunt quo corporis veritatis, magni dolores,
        esse ea explicabo deserunt quasi non repellat neque inventore eum accusantium optio quas similique. Voluptates, porro quos.
        </p>
        <a href=""><img src="" alt="MetalStretch"></a> 
    </div>
    <div>
        <h4>Diabetes Hoy</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio, nesciunt totam sunt quo corporis veritatis, magni dolores,
        esse ea explicabo deserunt quasi non repellat neque inventore eum accusantium optio quas similique. Voluptates, porro quos.
        </p>
        <a href=""><img src="" alt="DiabetesHoy"></a>
    </div>
    <div>
        <h4>SANFRAN</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio, nesciunt totam sunt quo corporis veritatis, magni dolores,
        esse ea explicabo deserunt quasi non repellat neque inventore eum accusantium optio quas similique. Voluptates, porro quos.
        </p>
        <a href=""><img src="" alt="SanFran"></a>
    </div>
    <div>
        <h4>Golf Shop</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio, nesciunt totam sunt quo corporis veritatis, magni dolores,
        esse ea explicabo deserunt quasi non repellat neque inventore eum accusantium optio quas similique. Voluptates, porro quos.
        </p>
        <a href=""><img src="" alt="GolfShop"></a>
    </div>
    <div>
        <h4>Portfolio</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste distinctio, nesciunt totam sunt quo corporis veritatis, magni dolores,
        esse ea explicabo deserunt quasi non repellat neque inventore eum accusantium optio quas similique. Voluptates, porro quos.
        </p>
        <a href=""><img src="" alt="PortFolio"></a>
    </div>
</div>