<div class="container">
    <h2 class=" ml-5 pl-5">Soft & Hard Skills</h2>
    <div class="row">
        <div class=" col-md-4 text-center p-4">
            <circle-progress
                [backgroundPadding]="-10"
                [percent]="70"
                [radius]="79"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#5ccbf0'"
                [outerStrokeGradientStopColor]="'#1825e2'"
                [innerStrokeColor]="'#99b6e5'"
                [subtitle]="'HTML 5'"
                [animateTitle]="true"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
        </div>
        <div class=" col-md-4 text-center p-4">
            <circle-progress
                [backgroundPadding]="-10"
                [percent]="50"
                [radius]="79"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#5ccbf0'"
                [outerStrokeGradientStopColor]="'#1825e2'"
                [innerStrokeColor]="'#99b6e5'"
                [subtitle]="'CSS 3'"
                [animateTitle]="true"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
        </div>
        <div class=" col-md-4 text-center p-4">
            <circle-progress
                [backgroundPadding]="-10"
                [percent]="60"
                [radius]="79"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#5ccbf0'"
                [outerStrokeGradientStopColor]="'#1825e2'"
                [innerStrokeColor]="'#99b6e5'"
                [subtitle]="'JavaScript'"
                [animateTitle]="true"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
        </div>
    </div>
    <div class="row">
        <div class=" col-md-4 text-center p-4">
            <circle-progress
                [backgroundPadding]="-10"
                [percent]="40"
                [radius]="79"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#5ccbf0'"
                [outerStrokeGradientStopColor]="'#1825e2'"
                [innerStrokeColor]="'#99b6e5'"
                [subtitle]="'ReactJs'"
                [animateTitle]="true"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
        </div>
        <div class=" col-md-4 text-center p-4">
            <circle-progress
                [backgroundPadding]="-10"
                [percent]="60"
                [radius]="79"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#5ccbf0'"
                [outerStrokeGradientStopColor]="'#1825e2'"
                [innerStrokeColor]="'#99b6e5'"
                [subtitle]="'Angular'"
                [animateTitle]="true"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
        </div>
        <div class=" col-md-4 text-center p-4">
            <circle-progress
                [backgroundPadding]="-10"
                [percent]="30"
                [radius]="79"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeGradient]="true"
                [outerStrokeColor]="'#5ccbf0'"
                [outerStrokeGradientStopColor]="'#1825e2'"
                [innerStrokeColor]="'#99b6e5'"
                [subtitle]="'Java'"
                [animateTitle]="true"
                [animation]="true"
                [animationDuration]="1000"
            ></circle-progress>
        </div>
    </div>
</div>