<div class="container">
    <div class=" col-md-3 text-center m-5 text-start">
        <h2>
            Experiencia
        </h2>
    </div>
    <div class="row m-5 border-bottom">
        <div class=" col-md-4">
            <img src="../../../assets/coderhouse.jpeg" alt="coderHouse" class="m-md-4">
        </div>
        <div class=" col-md-8">
            <h3>Tutor Curso JavaScript</h3>
            <p>Agosto 2020 - Junio 2021</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo facilis sapiente accusamus sint numquam fugiat accusantium impedit. Ea, alias libero.
            </p>
        </div>
    </div>
    <div class="row m-5">
        <div class=" col-md-4">
            <img src="../../../assets/conuar.jpeg" alt="conuar" class="m-md-4">
        </div>
        <div class=" col-md-8">
            <h3>Tecnico Superior Nuclear</h3>
            <p>Julio 2004</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Explicabo facilis sapiente accusamus sint numquam fugiat accusantium impedit. Ea, alias libero.
            </p>
        </div>
    </div>
</div>
